/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-10-01, 22:49:28
    Author     : toute
*/

h1{
    color:black;
}
h4{
    color:#DD2727;
}

.btn-success {
    background: #80cccc;
}

.table .thead-dark th{
   color: #818181;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}


.form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control{
    height: 40px;
    box-shadow: none;
    color: #343a40;
}

.form-control:focus{
    border-color: #5cb85c;
}

.form-control, .btn{        
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form h2{
    /*color: #636363;*/
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

/*.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}*/

.signup-form h2:before{
    left: 0;
}

.signup-form h2:after{
    right: 0;
}

.signup-form .hint-text{
    /*color: #999;*/
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form{
    /*color: #999;*/
    border-radius: 3px;
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group{
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"]{
    margin-top: 3px;
}

.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;	
    text-transform: uppercase;
/*    min-width: 140px;*/
    outline: none !important;
    margin: 5px;
    width: auto;
}

.signup-form .row div:first-child{
    padding-right: 10px;
}

.signup-form .row div:last-child{
    padding-left: 10px;
}

.signup-form a{
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover{
    text-decoration: none;
}

.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}	

.signup-form form a:hover{
    text-decoration: underline;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    bottom: 220px !important; 
}


.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}

.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
}

#FormulaireConnexion{
    margin-top: 20px;
}

#message{
    background-color: #feb1c0;
    border: #DD2727 solid 1px;
    width:100%;
    position: relative;
    border-radius: 2px;
    text-align:center;
    animation: mymove 8s infinite;
    animation-delay: 2s;

}

@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 200px;}
}
@keyframes mymove1 {
  from {top: -50px;}
  to {top: 0px;}
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/*Modales Inscription*/
div.col.mod{
    padding: 30px 30px 0px 30px;
}

.form-row .col-md-12{
    margin-top: 5px;
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem;
    width: auto;
}

.modal-footer .btn-primary{
    text-transform: uppercase;
    outline: none !important;
    width: auto;
    display: inline-block;
    margin: 1em 0 0;
    padding: 10px 20px;
    border: none;
    font-weight: 800;
}

.modal-header{
    background: #f1f1f1;
}

.footer2{
    background: #f1f1f1;
    padding: 5%;
}

.body2{
    padding: 1rem 1rem 0px 1rem !important;
}
/*Equipes*/
.equipeStyle h1{
    color: black;
    text-transform: unset;
    font-size: 2em;
    text-align: right;
}

.equipeStyle.col{
    justify-content: end;
    display: flex;
    align-items: end;
    position: relative;
    padding-top: 10px;
}

.equipeStyle .colBtn{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    padding: unset;
}
.equipeStyle .modal-header{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #80cccc;
}
.equipeStyle .modal-title{
    color: black;
}

.equipeStyle .modal-header .close{
    margin: -1rem auto -1rem auto !important;
}

.equipeStyle .modal-content{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.equipeStyle .photo{
    background-color: #80cccc;
}

.equipeStyle.modal-footer .btn-primary{
    margin: unset !important;
    width: 100%;
}

.equipeStyle.modal-footer .btn-danger{
    margin: unset !important;
    width: 100%;
}

.equipeStyle.modal-footer .col-md-12, .col-sm-12, .col-lg-12{
    margin: unset !important;
}