/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-10-01, 22:49:28
    Author     : toute
*/
header .headerV{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 0;
}

.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
    
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link {
    /*background: #262626;*/
    color: #fff;
}

.bg-secondary{
    /*background-color: #07334ae6 !important;*/
    /*background-color: #80cca6d9 !important;*/
    background-color: #80a6cce6 !important
}

.banner {
    position: relative;
    background: url("/playpro2/static/images/bethard.a2b18dbe2.png");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    /*font-weight: 1000;*/
    color: black;
    text-transform: uppercase;
}

.banner p {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #262626;
}

.btnD {
    display: inline-block;
    margin: 1em 0 0;
    padding: 10px 20px;
    background: graytext;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
}

.btnD:hover {
    text-decoration: none;
    background-color: graytext;
    color: #003A5C;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
    margin-right: 15px;
}

.nav-item{
    margin-left: 15px;
}

.navbar-nav .dropdown-menu {
    width: fit-content;
}

h1{
   text-transform: uppercase;
    color:white;

    
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

/*A Propos*/

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:550px;
}

.contactSect{
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    border-right-style: solid; 
    border-right-width: 0px; 
}

.nsContacter{
    margin-left: 3px; 
    margin-right: 3px;
}

.descContact{
    margin-left: 1px; 
    margin-right: 1px;
}

.descContact label{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.infoContact{
    margin-top: 1rem;
}

.contactForm .btn-block{
    width: auto;
}

/*Présentation membres index*/
.subtitleInd{
    padding-bottom: 10px;
    color: #003A5C;
    background: whitesmoke;
    text-transform: uppercase; 
    text-align: center; 
    padding-top: 70px;
}

.present{
    min-height: 205px;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
}

.detailsStyle{
    color: gray;
}

/*Footer*/
.iconesReseaux{
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: #262626;
}

.iconesReseaux a{
    color: #262626;
    text-transform: uppercase;
    font-weight: 800;
}

.iconesReseaux:hover{
    text-decoration: none;
    color: white;
}

.iconesReseaux a:hover{
    color: #80cccc;
}

#one{
    font-size: x-large;
    padding-top: 5px;
}

/*JumpTo*/

@media (orientation: landscape) {
  .jump{
    margin-top: -20vh; padding-top: 20vh;
    }
}

@media (orientation: portrait) {
    #apropos.jump {
    margin-top: -10vh; padding-top: 10vh;
    }
    
    #cal.jump {
    margin-top: -10vh; padding-top: 10vh;
    margin-bottom : 20vh;
    }
}